.App {
  text-align: center;
}

.warning{
  
  font-size: 14px;
  color:red;
 
}
.add_post{
  padding: 0.8rem;
  border: none;
  background: blue;
  border-radius: 10px;
  color:white;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.field{
  display: flex;
  text-align: center;
  justify-content: center;
}
.field textarea{
  margin-right: 1rem;
}

